<!DOCTYPE html>
<html>
    <head>
    <title>D3 Axis Example</title>
    
    </head>

    <meta charset="utf-8">
    <style type="text/css">

    svg {
       font-family: "Helvetica Neue", Helvetica;
    }

    line {
       shape-rendering: crispEdges;
       vector-effect: non-scaling-stroke;

       stroke: #000;
       stroke-width: 5px;
    }

    .active-d3-item {
        cursor: pointer;
    
        stroke: magenta;
    }

    </style>

    
    <body>

  {% block content %}

  {% endblock %}

</body>
</html>
